#content-resume,
#content-location,
#content-meteo {
  height: 620px;
  margin: 150px auto;
}

.container-image {
  background-color: var(--main-color);
  width: 50%;
  height: 100%;
}

.container-image img {
  width: 80%;
  border-radius: 50px;
}

.container-text {
  background-color: var(--secondary-color);
  width: 50%;
  height: 100%;
}

.container-text h2 {
  font-size: 48px;
  color: white;
  margin: 100px 0 50px 100px;
}

.container-text p {
  margin: 50px 10%;
}

.btn-more {
  width: 250px;
  text-align: center;
  padding: 10px 25px;
  border: 3px solid white;
  color: white;
  text-decoration: none;
  margin: auto 65%;
  font-size: 36px;
  transition: border-radius 0.6s;
}

.btn-more:hover {
  border-radius: 50px;
}
